*, *::after, *::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Calibri', Arial, Helvetica, sans-serif;
    background: linear-gradient(116.82deg, #4169E1 0%, #40E0D0 44.2%, rgba(255, 215, 0, 0.62) 71.35%, #FFD700 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ellipse {
    position: absolute;
    border-radius: 50%;
    z-index: -99;
}
.ellipse1 {
    width: clamp(130px, 30vw, 300px);
    height: clamp(130px, 30vw, 300px);
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
    /* background: #C219DD; */
    background: magenta;
}

.ellipse2 {
    width: clamp(100px, 25vw, 250px);
    height: clamp(100px, 25vw, 250px);
    right: 0;
    top: 0;
    background: #4169E1;
    transform: translate(50%, -50%);
}

.ellipse3 {
    width: clamp(80px, 20vw, 200px);
    height: clamp(80px, 20vw, 200px);
    right: 0;
    bottom: 0;
    background: tomato;
    transform: translate(10%, 35%);
}

.ellipse4 {
    width: clamp(80px, 20vw, 200px);
    height: clamp(80px, 20vw, 200px);
    left: 50%;
    right: 50%;
    transform: translate(-50%, -30%);
    background: lawngreen;
}

.loginModal {
    position: relative;
    width: 80%;
    max-width: 800px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    display: flex;
    border-radius: 25px;
}
.left, .right {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    flex: 100%;
}
.left {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background: url('Docs/housebg.jpg') center no-repeat;
    background-size: cover;
}

.right {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 1rem 5%;
}
h1 {
    font-family: 'Montserrat', 'Calibri', Arial, Helvetica, sans-serif;
}

.input_with_icon {
    position: relative;
}
.input_with_icon div {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 .5rem;
}
.input_with_icon input {
    font-family: 'Open Sans', 'Calibri', Arial, Helvetica, sans-serif;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1.05rem;
    padding-left: 2rem;
    background: transparent;
    border: 1px solid black;
    margin: 1rem 0;
    border-radius: 10px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    gap: .5rem;
}

button {
    width: 100%;
    padding: .5rem .75rem;
    margin: 1rem 0;
    margin-top: 1.8rem;
    cursor: pointer;
    background-color: orange;
    border: none;
    border-radius: 20px;
    font-size: 1.3rem;
}
button:hover {
    background-color: hsl(39, 100%, 45%);
}

@media screen and (max-width: 600px) {
    .left {
        display: none;
    }
    .right {
        border-radius: 25px;
    }
    /* .ellipse1 {
        width: 50vh;
        height: 50vh;
    }

    .ellipse2 {
        width: 70vw;
        height: 70vw;
    }

    .ellipse3 {
        width: 45vw;
        height: 45vw;
        transform: translate(20%, 5%);
    } */
}